/* CORES EM HEXADECIMAL */

.caixa1 {
    background-color: #ff9878;
    color: #357878;
}

.caixa2 {
    background-color: #aaa;
    color: #333;
}

.caixa3 {
    background-color: #af0;
    color: 0;
}

.caixa4 {
    background-color: #6060ff;
    color: #ff6060;
}

.caixa5 {
    background-color: #121550;
    color: #319951;
}



