/*CSS: Cascate Style Sheets (Folhas de Estílo em Cascata)*/

header p {
    display: block;
    width: 200px;
    height: 30px;

    background-color: #808080;
    color: #ff6000;

    font-family: "Comic Sans", "Verdana", sans-serif;
    text-align: center;
    
    border: thick #ff6000 dotted; /* Atalho para "width", "color" e "style" */
    border-radius: 30px 0;

}

h1 {
    color:#802020;

/* Sempre termine com uma fonte genérica, pra não haver problema do PC não encontrar.
    font-family: "Trebuchet MS", sans-serif;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;  */

/* Forma resumida */
    font: italic bold 32px "Trebuchet MS", sans-serif;

    text-decoration: underline;
    text-align: center; /* Alinha o texto com base no bloco pai, no caso aqui, div#titulo. */
}

div#titulo {
    width: 500px;
    background-color: #808080;
}

p#intro {
    color: blue;

}

p {
    color: red;
}

article > .obj {
    color: darkolivegreen;
}

footer p{
    display: block;
    width: 200px;
    height: 200px;
    
    background-color: #303030;
    
    text-align: center;
    color: #ff6000;
}